{% extends "base.html" %}

{%block title%}
Categorias
{%endblock title%}


{% block body %}



<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="static\images\vestidos.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Vestidos</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/vestidos" class="btn btn-outline-info"><i class="fa-solid fa-arrow-right fa-lg"></i>  Gestionar </a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <img src="static\images\jeans.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jeans</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/jeans" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-right fa-lg"></i> Gestionar</a>

          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card mb-4">
          <img src="static\images\ropa-interior.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ropa Interior</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/ropa_interior" class="btn btn-outline-success"><i class="fa-solid fa-arrow-right fa-lg"></i> Gestionar</a>
          </div>
        </div>
      </div>

    </div>

    

    <div class="row">
      
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="static\images\pantalones.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pantalones</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/pantalones" class="btn btn-outline-primary"><i class="fa-solid fa-arrow-right fa-lg"></i> Gestionar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="static\images\camisas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Camisas</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/camisas" class="btn btn-outline-info"><i class="fa-solid fa-arrow-right fa-lg"></i> Gestionar</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <img src="static\images\camisetas.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Camisetas</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/camisetas" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-right fa-lg"></i> Gestionar</a>
          </div>
        </div>
      </div>
    </div>




    <div class="row">
        <div class="col-md-4">
          <div class="card mb-4">
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="static\images\accesorios.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Accesorios</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="/accesorios" class="btn btn-outline-success"><i class="fa-solid fa-arrow-right fa-lg"></i> Gestionar</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-4">
          </div>
        </div>
      </div>
  </div>
{%endblock body%}