{% extends "base.html" %} {%block title%} Inicio {%endblock title%} {% block body
%}
  

  <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner py-0" id="top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="left-content">
              <div class="thumb">
                <div class="inner-content">
                  <h4 style="color: #5bc6c9" >Moda Click</h4>
                  <span>Marcas, calidad y un excelente servicio</span>
                  <div class="main-border-button">
                    <a href="#">Ver más!</a>
                  </div>
                </div>
                <img src="static/assets/images/left-banner-image.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-content">
              <div class="row">
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Mujer</h4>
                        <span>La mejor ropa para mujeres</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Mujer</h4>
                          <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                          <div class="main-border-button">
                            <a href="#">Descubre más</a>
                          </div>
                        </div>
                      </div>
                      <img src="static/assets/images/baner-right-image-01.jpg">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Hombre</h4>
                        <span>La mejor ropa para hombres</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Hombre</h4>
                          <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                          <div class="main-border-button">
                            <a href="#">Descubre más</a>
                          </div>
                        </div>
                      </div>
                      <img src="static/assets/images/baner-right-image-02.jpg">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Niños</h4>
                        <span>La mejor ropa para niños</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Niños</h4>
                          <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                          <div class="main-border-button">
                            <a href="#">Descubre más</a>
                          </div>
                        </div>
                      </div>
                      <img src="static/assets/images/baner-right-image-03.jpg">
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="right-first-image">
                    <div class="thumb">
                      <div class="inner-content">
                        <h4>Accessorios</h4>
                        <span>Los mejores accesorios de tendencia</span>
                      </div>
                      <div class="hover-content">
                        <div class="inner">
                          <h4>Accessorios</h4>
                          <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                          <div class="main-border-button">
                            <a href="#">Descubre más</a>
                          </div>
                        </div>
                      </div>
                      <img src="static/assets/images/baner-right-image-04.jpg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- ***** Main Banner Area End ***** -->

<!-- ***** About Area Starts ***** -->
<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-image">
          <img src="static/assets/images/about-left-image.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <h4 style="color: #083555" >Nosotros</h4>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut
            labore.</span>
          <div class="quote">
            <i class="fa fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod kon tempor incididunt ut
              labore.</p>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore et
            dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** About Area Ends ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="inner-content">
          <h2>Contactenos</h2>
          <span>Te brindamos la mejor atención y servicio</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div id="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d15749.331192694783!2d-75.39992545183169!3d9.303750902301832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d9.3054974!2d-75.3970278!4m5!1s0x8e591591a4e46469%3A0xf225c84ccb61114c!2sparque%20comercial%20guacar%C3%AD%20google%20map!3m2!1d9.3018783!2d-75.3826243!5e0!3m2!1ses-419!2sco!4v1739492372989!5m2!1ses-419!2sco"
            width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
          
          <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->

        </div>
      </div>
      <div class="col-lg-6">
        <div class="section-heading">
          <h2 style="color: #083555" >Di hola. ¡Escribenos..!</h2>
          <span>Detalles a detalles es lo que diferencia a ModaClick de los otros.</span>
        </div>
        <form id="contact" action="" method="post">
          <div class="row">
            <div class="col-lg-6">
              <fieldset>
                <input name="name" type="text" id="name" placeholder="Tú nombre" required="">
              </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset>
                <input name="email" type="text" id="email" placeholder="Tú Correo" required="">
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea name="message" rows="6" id="message" placeholder="Escribe un mensaje " required=""></textarea>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button type="submit" id="form-submit" class="main-dark-button"><i
                    class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ***** Contact Area Ends ***** -->




{%endblock body%}
